<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.gdg.androidnfeatures"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".multiwindow.SimpleActivity">
        </activity>
        <activity android:name=".multiwindow.BaseMultiWindowActivity">
        </activity>
        <activity
            android:name=".multiwindow.NewTaskActivity"
            android:resizeableActivity="false"
            android:taskAffinity="">
        </activity>
        <activity
            android:name=".multiwindow.AdjacentActivity"
            android:taskAffinity="">
        </activity>
        <activity
            android:name=".multiwindow.FullScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".quicksettings.QuickSettingActivity">
        </activity>

        <service
            android:name=".quicksettings.CameraTileService"
            android:icon="@drawable/ic_camera_alt_white_24dp"
            android:label="AndroidN Demo"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
    </application>

</manifest>